
@keyframes slide-right {
    from {
        margin-left: 5vw;
        opacity: 0;
    }
    to {
        margin-left: 10vw;
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        margin-left: 5vw;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}