.btn {
    position: absolute;
    top: 88%;
    padding: 0;
    border-radius: 1.5em;
    background: rgba(126, 5, 80, 0.445);
    border: 0.5px solid rgb(156, 10, 108);
    transition: 0.2s linear;
    height: 3em;
    width: 3em;
    animation: shadow-pulse 1.5s linear infinite;
    -webkit-animation: shadow-pulse 1.5s linear infinite;
    -moz-animation: shadow-pulse 1.5s linear infinite;
    -ms-animation: shadow-pulse 1.5s linear infinite;

    &:hover {
        border: 0px solid rgb(119, 119, 119);
        background: rgba(255, 16, 136, 0.856);
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        > a {
            color: white;
        }
    }
    > a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: rgb(240, 240, 240);
        >img {
            width: 3em;
            height: 3em;
        }
    }
}