@import "./spark.scss";
@import "./animations.scss";

html,
body {
    margin: 0;
    background: rgba(12, 20, 31, 0.918);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        /* WebKit */
        width: 1.5px;
        background: transparent;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(189, 13, 95, 0.4);
        border-radius: 10px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: rgb(224, 224, 224);
    > h1 {
        font-size: 4.5em;
        margin: 15vh 10vw 5vh;
    }
    > p {
        font-size: 1.5em;
        margin: 0 13vw;
    }
    @media screen and(min-width: 321px) {
        > h1 {
            margin: 20vh 10vw 9vh;
        }
    }
    @media screen and (min-width: 600px) {
        > h1 {
            margin: 30vh 10vw 10vh;
        }
    }
}

.btn {
    position: absolute;
    top: 80%;
    padding: 0;
    border-radius: 1.5em;
    background: rgba(126, 5, 80, 0.445);
    border: 0.5px solid rgb(90, 1, 60);
    transition: 0.3s linear;
    height: 3em;
    width: 3em;
    animation: shadow-pulse 1.5s linear infinite;
    -webkit-animation: shadow-pulse 1.5s linear infinite;
    -moz-animation: shadow-pulse 1.5s linear infinite;
    -ms-animation: shadow-pulse 1.5s linear infinite;

    &:hover {
        border: 0px solid rgb(119, 119, 119);
        background: rgba(255, 16, 136, 0.45);
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        > a {
            color: white;
        }
    }
    > a {
        font-size: 2em;
        line-height: 170%;
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: rgb(240, 240, 240);
    }
}

#home {
    background-image: url("/static/background-texture.jpeg");
    background-size: cover;
}

// .header {
//     width: 100%;
//     position: fixed;
//     top: 0px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-content: center;
//     height: 10vh;
// }

// .main {
//     display: grid;
//     justify-self: center;
//     grid-template-columns: 5% 25% 40% 25% 5%;
//     grid-template-rows: 15% 75% 10%;
//     height: 100vh;
//     width: 100vw;
//     letter-spacing: 0.2em;
// }
//
//
// .header {
//     display: inline;
//     grid-column: 3 / 4;
//     grid-row: 1 / 2;
//     justify-self: center;
//     text-align: center;
//     line-height: 10em;
//     color: rgba(214, 214, 214, 0.609);
//     z-index: 200;
//     animation: fade-in 1s;
//     > a {
//         text-decoration: none;
//         margin-left: 2em;
//         margin-right: 2em;
//         color: rgba(214, 214, 214, 0.87);
//         transition: 0.4s ease-in-out;
//         &:hover {
//             color: rgb(197, 62, 118);
//         }
//     }
// }
//
//
// .content {
//     grid-column: 2 / 5;
//     grid-row: 2 / 3;
//     justify-self: center;
//     z-index: 200;
//     text-align: center;
//     > h1 {
//         color: rgb(224, 224, 224);
//         animation: slide-right 1.3s;
//         font-size: 4.5em;
//         margin: 10% auto 5%;
//     }
//     > h2 {
//         animation: slide-left 1.3s;
//     }
//     > p {
//         color: rgb(221, 221, 221);
//         animation: fade-in 2.5s;
//         line-height: 1.5;
//     }
//     > .home-description {
//         font-size: 1.5em;
//         margin-left: 20%;
//         margin-right: 20%;
//     }
// }
//
// .btn {
//     border-radius: 1.5em;
//     background: rgba(124, 124, 124, 0.15);
//     border: 1px solid rgb(192, 192, 192);
//     transition: 0.4s ease-in-out;
//     margin: 2em 5em 0;
//     padding: 1em 2em;
//     &:hover {
//         border: 1px solid rgb(218, 218, 218);
//         background: rgba(255, 16, 136, 0.45);
//     }
//     > a {
//         text-decoration: none;
//         color: rgb(219, 219, 219);
//         display: inline-block;
//         position: relative;
//         z-index: 1;
//         padding: 1em 2em;
//         margin: -2em;
//     }
// }
//
// .background-image {
//     background-image: url("/static/background-texture.jpeg");
//     background-size: cover;
//     display: block;
//     filter: blur(5px);
//     -webkit-filter: blur(5px);
//     position: fixed;
//     left: -1%;
//     right: -1%;
//     top: -2%;
//     bottom: -1%;
//     width: 104%;
//     height: 104%;
//     z-index: -1;
// }
