@import "./home.scss";
@import "./projects.scss";
@import "./animations.scss";

html,
body {
    margin: 0;
    font-family: "Cabin", sans-serif;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        /* WebKit */
        width: 0px;
        display: none;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        width: 0px;
        display: none;
    }
}

h1 {
    font-family: "Lora", serif;
}

.main {
    display: flex;
    flex-direction: column;
    z-index: 100;
    &::before {
        position: fixed;
        content: " ";
        height: 100%;
        width: 100%;
        background-image: linear-gradient(175deg, rgb(243, 236, 229) 72%, rgb(231, 228, 241) calc(72% + 2px));
    }
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 200;
    > h1 {
        animation: 1s fade-in;
        letter-spacing: 0.05em;
        color: rgb(44, 40, 54);
    }
    > p {
        animation: 1s slide-right;
        color: rgb(85, 82, 99);
    }
    > #btn-group {
        animation: 1s slide-left;
    }
}
